Repository ArkanisCorporation/ArkanisOverlay, pull requests merged in 2025-06, with the labels that each got.

#275 feat(Native): Add Overlay Shutdown Button
  src/Arkanis.Overlay.Components/Shared/Dialogs/ShutdownDialog.razor
  src/Arkanis.Overlay.Components/Views/SearchView.razor
  src/Arkanis.Overlay.Domain/Abstractions/Services/IOverlayControls.cs
  src/Arkanis.Overlay.Host.Desktop/Services/WindowsOverlayControls.cs
  src/Arkanis.Overlay.Host.Desktop/UI/Windows/OverlayWindow.xaml.cs
  src/Arkanis.Overlay.Host.Server/Services/WebOverlayControls.cs
Labels: ui/ux, native

#285 fix: overlay and server behaviour during connectivity issues
  Directory.Build.props
  src/Arkanis.Overlay.Domain/Models/ExternalServiceState.cs
  src/Arkanis.Overlay.External.UEX/UexApiClientBase.cs
  src/Arkanis.Overlay.External.UEX/UexApiOptions.cs
  src/Arkanis.Overlay.Host.Server/Services/GitHubReleasesService.cs
  src/Arkanis.Overlay.Infrastructure/Repositories/Local/UexServiceStateProvider.cs
  src/Arkanis.Overlay.Infrastructure/Repositories/Sync/UexGameEntitySyncRepositoryBase.cs
  src/Arkanis.Overlay.Infrastructure/Services/ExternalSyncDatabaseCacheProvider.cs
Labels: ui/ux

#283 feat: improve inventory management ui/ux
  src/Arkanis.Overlay.Components/Helpers/JsComponentInterop.cs
  src/Arkanis.Overlay.Components/Helpers/RenderSections.cs
  src/Arkanis.Overlay.Components/Services/OverlayModules.cs
  src/Arkanis.Overlay.Components/Shared/CustomBadge.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryEntryCreateDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/SearchDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/ShutdownDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/UserPreferencesEditDialog.razor
  src/Arkanis.Overlay.Components/Shared/GameEntitySearchControls.razor
  src/Arkanis.Overlay.Components/Shared/GameEntitySearchDetails.razor
  src/Arkanis.Overlay.Components/Shared/GlobalKeyboardEventProxyProvider.razor.js
  src/Arkanis.Overlay.Components/Shared/InventoryEntryDataGrid.razor
  src/Arkanis.Overlay.Components/Shared/InventoryEntrySimpleList.razor
  src/Arkanis.Overlay.Components/Shared/Layouts/OverlayLayout.razor
  src/Arkanis.Overlay.Components/Shared/OverlayControls.razor
  src/Arkanis.Overlay.Components/Shared/OverlayControlsBottomRightDefaults.razor
  src/Arkanis.Overlay.Components/Shared/OverlayModuleNavigation.razor
  src/Arkanis.Overlay.Components/Shared/QuantityAggregateLabel.razor
  src/Arkanis.Overlay.Components/Shared/UEXBadge.razor
  src/Arkanis.Overlay.Components/Views/InventoryView.razor
  src/Arkanis.Overlay.Components/Views/SearchView.razor
  src/Arkanis.Overlay.Components/wwwroot/css/shared.css
  src/Arkanis.Overlay.Domain/Abstractions/Services/IInventoryManager.cs
  src/Arkanis.Overlay.Domain/Models/Inventory/Quantity.cs
  src/Arkanis.Overlay.Host.Desktop/UI/PageUrls.cs
  src/Arkanis.Overlay.Host.Desktop/UI/Pages/InventoryPage.razor
  src/Arkanis.Overlay.Host.Desktop/UI/Pages/SearchPage.razor
  src/Arkanis.Overlay.Host.Desktop/UI/Windows/OverlayWindow.xaml
  src/Arkanis.Overlay.Host.Desktop/appsettings.json
  src/Arkanis.Overlay.Host.Server/Components/Layouts/ServerOverlayLayout.razor
  src/Arkanis.Overlay.Host.Server/Components/Pages/Index.razor
  src/Arkanis.Overlay.Host.Server/Components/Pages/InventoryPage.razor
  src/Arkanis.Overlay.Host.Server/appsettings.json
  src/Arkanis.Overlay.Infrastructure/Services/LocalDatabaseInventoryManager.cs
Labels: ui/ux

#299 Release: RC
  src/Arkanis.Overlay.Components/Helpers/DebounceHelper.cs
  src/Arkanis.Overlay.Components/Shared/FocusRegion.razor
  src/Arkanis.Overlay.Components/Shared/FocusRegion.razor.js
  src/Arkanis.Overlay.Components/Shared/InventoryEntryDataGrid.razor
  src/Arkanis.Overlay.Components/Shared/QuickAccessContainer.razor
  src/Arkanis.Overlay.Components/Views/Components/SearchResultStack.razor
  src/Arkanis.Overlay.Components/Views/InventoryView.razor
  src/Arkanis.Overlay.Components/wwwroot/css/shared.css
  src/Arkanis.Overlay.Host.Server/Components/Pages/Index.razor
Labels: release

#298 fix: enable nightly release channel builds
  .github/workflows/build.yaml
  .releaserc
  src/Arkanis.Overlay.Common/Models/UpdateChannel.cs
Labels: ci, build/publish

#303 fix: Google Analytics reporting in desktop app
  src/Arkanis.Overlay.Components/Services/ConfigurableGoogleAnalyticsStrategy.cs
  src/Arkanis.Overlay.Components/Services/GoogleGlobalAnalyticsManager.cs
  src/Arkanis.Overlay.Components/Shared/AnalyticEventSender.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryEntryCreateDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryEntryUpdateDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryListDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/UserPreferencesDialog.razor
  src/Arkanis.Overlay.Components/Shared/GameEntitySearchControls.razor
  src/Arkanis.Overlay.Components/Shared/OverlayControls.razor
  src/Arkanis.Overlay.Components/Views/InventoryView.razor
  src/Arkanis.Overlay.Domain/Abstractions/Services/IAnalyticsEventReporter.cs
  src/Arkanis.Overlay.Domain/Models/Analytics/AnalyticsEvent.cs
  src/Arkanis.Overlay.Host.Desktop/UI/Pages/PreferencesDialogPage.razor
  src/Arkanis.Overlay.Host.Desktop/wwwroot/index.html
  src/Arkanis.Overlay.Infrastructure/Services/UserPreferencesJsonFileManager.cs
Labels: analytics

#305 Release: RC
  .github/workflows/build.yaml
  .releaserc
  Directory.Packages.props
  src/Arkanis.Overlay.Common/Models/UpdateChannel.cs
  src/Arkanis.Overlay.Components/Arkanis.Overlay.Components.csproj
  src/Arkanis.Overlay.Components/Services/ConfigurableGoogleAnalyticsStrategy.cs
  src/Arkanis.Overlay.Components/Services/GoogleGlobalAnalyticsManager.cs
  src/Arkanis.Overlay.Components/Shared/AnalyticEventSender.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryEntryCreateDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryEntryUpdateDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryListDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/UserPreferencesDialog.razor
  src/Arkanis.Overlay.Components/Shared/GameEntitySearchControls.razor
  src/Arkanis.Overlay.Components/Shared/OverlayControls.razor
  src/Arkanis.Overlay.Components/Views/Components/CalculationResult.razor
  src/Arkanis.Overlay.Components/Views/Components/SearchResultItem.razor
  src/Arkanis.Overlay.Components/Views/InventoryView.razor
  src/Arkanis.Overlay.Components/Views/SearchView.razor
  src/Arkanis.Overlay.Components/packages.lock.json
  src/Arkanis.Overlay.Components/wwwroot/css/shared.css
  src/Arkanis.Overlay.Domain/Abstractions/Services/IAnalyticsEventReporter.cs
  src/Arkanis.Overlay.Domain/Models/Analytics/AnalyticsEvent.cs
  src/Arkanis.Overlay.Host.Desktop/UI/Pages/PreferencesDialogPage.razor
  src/Arkanis.Overlay.Host.Desktop/packages.lock.json
  src/Arkanis.Overlay.Host.Desktop/wwwroot/index.html
  src/Arkanis.Overlay.Host.Server/packages.lock.json
  src/Arkanis.Overlay.Infrastructure/Services/UserPreferencesJsonFileManager.cs
  tests/Arkanis.Overlay.Host.Desktop.UnitTests/packages.lock.json
  tests/Arkanis.Overlay.Host.Server.UnitTests/packages.lock.json
Labels: release

#307 Release: Stable
  .github/workflows/build.yaml
  .releaserc
  Directory.Packages.props
  src/Arkanis.Overlay.Common/Models/UpdateChannel.cs
  src/Arkanis.Overlay.Components/Arkanis.Overlay.Components.csproj
  src/Arkanis.Overlay.Components/Services/ConfigurableGoogleAnalyticsStrategy.cs
  src/Arkanis.Overlay.Components/Services/GoogleGlobalAnalyticsManager.cs
  src/Arkanis.Overlay.Components/Shared/AnalyticEventSender.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryEntryCreateDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryEntryUpdateDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/InventoryListDialog.razor
  src/Arkanis.Overlay.Components/Shared/Dialogs/UserPreferencesDialog.razor
  src/Arkanis.Overlay.Components/Shared/GameEntitySearchControls.razor
  src/Arkanis.Overlay.Components/Shared/OverlayControls.razor
  src/Arkanis.Overlay.Components/Views/Components/CalculationResult.razor
  src/Arkanis.Overlay.Components/Views/Components/SearchResultItem.razor
  src/Arkanis.Overlay.Components/Views/InventoryView.razor
  src/Arkanis.Overlay.Components/Views/SearchView.razor
  src/Arkanis.Overlay.Components/packages.lock.json
  src/Arkanis.Overlay.Components/wwwroot/css/shared.css
  src/Arkanis.Overlay.Domain/Abstractions/Services/IAnalyticsEventReporter.cs
  src/Arkanis.Overlay.Domain/Models/Analytics/AnalyticsEvent.cs
  src/Arkanis.Overlay.Host.Desktop/UI/Pages/PreferencesDialogPage.razor
  src/Arkanis.Overlay.Host.Desktop/packages.lock.json
  src/Arkanis.Overlay.Host.Desktop/wwwroot/index.html
  src/Arkanis.Overlay.Host.Server/packages.lock.json
  src/Arkanis.Overlay.Infrastructure/Services/UserPreferencesJsonFileManager.cs
  tests/Arkanis.Overlay.Host.Desktop.UnitTests/packages.lock.json
  tests/Arkanis.Overlay.Host.Server.UnitTests/packages.lock.json
Labels: release
